#home-image {
    width:100vw;
    height:100vh;
    background-image: url('images/tumbler.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .menu{
    display: flex;
    padding: 0px;
    background-color:white;
    color: white;
  }

  .menu li{
    padding-right: 10px;
    list-style: none;
    color: white;
    font-family: "cursive", sans-serif, arial,; font-size: 20px;
  
  }
  .container{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin: 0 auto;
}

.trash-button{
  display: contents;
  font-size: 65%;
}


.delete-form{
  display: inline;
}