{% extends "base.html" %}
{% block content %}

<form action="/vehicles/{{vehicle.id}}" method="post">
<div>
    <label for="description">Description:</label>
    <input type="text" id="description" name="description" value="{{vehicle.description}}" required autofocus>
</div>

<div>
    <label for="engine">Engine:</label>
    <input type= float id="engine" name="engine" value="{{vehicle.engine}}" required>
</div>

<div>
    <label for="gearbox">Gearbox:</label>
    <input type="text" id="gearbox" name="gearbox" value="{{vehicle.gearbox}}" required>
</div>

<div>
    <label for="colour">Colour:</label>
    <input type="text" id="colour" name="colour" value="{{vehicle.colour}}" required>
</div>

<div>
    <label for="price">Price:</label>
    <input type= float id="price" name="price" value="{{vehicle.price}}" required>
</div>

<div>
    <label for="year">Year:</label>
    <input type= int id="year" name="year" value="{{vehicle.year}}" required>
</div>

<div>
    <label for="quantity">Quantity:</label>
    <input type= int id="quantity" name="quantity" value="{{vehicle.quantity}}" required>
</div>

<div>
    <label for="for_sale">For Sale:</label>
    <input type= boolean id="for_sale" name="for_sale" value="{{vehicle.for_sale}}" required>
</div>

<div>
    <label for="image">Image:</label>
    <input type="text" id="image" name="image" value="{{vehicle.image}}" required>
</div>

<div>
    <label for="completed">Make:</label>
    <input type="text" id="make" name="make" value="{{vehicle.make}}" required>
</div>

<div>
<label for="manufacturer">Manufacturer:</label>
<select id="manufacturer" name="manufacturer_id">
  {% for manufacturer in all_manufacturers %}
    <option value="{{ manufacturer.id }}"
      {% if vehicle.manufacturer.id == manufacturer.id %} selected="selected"{% endif %}>
      {{ vehicle.display_name() }}
    </option>
    {% endfor %}
</select>
</div>
<button type="submit">Update Vehicle</button>

</form>
{% endblock %}