{% extends "base.html" %}
{% block content %}

<div class="vehicle-container">

  {% for vehicle in all_vehicles %}
    <div class="vehicle">
        <div class="content">
            <a href="/vehicles/{{vehicle.id}}">{{vehicle.description}} </a>
             <p><i>{{vehicle.display_name()}}</i></p>
             
             
         </div> 
        </div class="buttons">
    </div>
    <div class="buttons">
      <div id="image">
        <img src={{vehicle.image}} width="200" height="150">
       </div>

      <form class="delete-form" action="/vehicles/{{vehicle.id}}/delete" method="POST">
        <button class="trash-button"><i class="fa fa-trash-o fa-3x" style="color:grey" aria-hidden="true"></i></button>
      </form>
    </div>
  </div>
</div>
{% endfor %}   
   
  </div>
{% endblock %}