{% extends "base.html" %}
{% block content %}

<div class="new-vehicle">
    <form action="/vehicles" method= "post">
    
        <div>
            <label for="description">Description:</label>
            <input type="text" id="description" name="description" placeholder="Description" required autofocus>
        </div>

        <div>
            <label for="engine">Engine:</label>
            <input type= float id="engine" name="engine" placeholder="Engine" required>
        </div>

        <div>
            <label for="gearbox">Gearbox:</label>
            <input type= "text" id="gearbox" name="gearbox" placeholder="Gearbox" required>
        </div>

        <div>
            <label for="colour">Colour:</label>
            <input type= "text" id="colour" name="colour" placeholder="Colour" required>
        </div>

        <div>
            <label for="price">Price:</label>
            <input type= float id="price" name="price" placeholder="Price" required>
        </div>

        <div>
            <label for="year">Year:</label>
            <input type= int id="year" name="year" placeholder="Year" required>
        </div>

        <div>
            <label for="quantity">Quantity:</label>
            <input type= int id="quantity" name="quantity" placeholder="Quantity" required>
        </div>

        <div>
            <label for="for_sale">For Sale:</label>
            <input type= boolean id="for_sale" name="for_sale" placeholder="For Sale" required>
        </div>

        <div>
            <label for="image">Colour:</label>
            <input type= "text" id="image" name="image" placeholder="Image" required>
        </div>
        <div>
            <label for="vehicle">Vehicle:</label>
            <select id="vehicle" name="vehicle_id">
              {% for vehicle in all_vehicles %}
                <option value="{{ vehicle.id }}">{{ vehicle.display_name() }}</option>
              {% endfor %}
            </select>
        </div>

        
        <button type="submit">Add Vehicle to Stock</button>

    </form>
</div>


{% endblock %}